<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"> 
	<title><%= title %> - 百分之百中大奖 - 中航生意贷</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="中航生意贷推出系列理财活动，注册有礼、推荐有礼，投资有红包返现等等，活动奖励不断。" />
	<meta name="keywords" content="平台活动、网络理财、个人理财、中航生意贷" />
	<script type="text/javascript" src="/lib/rem/rem.js"></script>
	<script type="text/javascript" src="/lib/zepto/zepto.js"></script>
	<link rel="stylesheet" type="text/css" href="/lib/reset/reset.css">
	<link rel="stylesheet" href="/css/style.css">	
	<style type="text/css" id="style"></style>
</head>
<body>