<%- include('header') %>
<section class="layer">
		<div class="register">
			
			<div class="congr">
				<p>恭喜！奖金已放入您的账户</p>				
				<div class="mes">
					<p class="money" style="font-size:0.6rem;">“恭喜您，<%= money %>奖金及5元即</p>
					<p style="font-size:0.6rem;">时返现（仅限APP下载新用户）</p>
					<p style="font-size:0.6rem;">已放入账户，</p> 
					<p style="font-size:0.6rem;">快去下载中航生意贷APP查看”</p>
				</div>
				<p><a href="/signout/"><button id="look">退出登录</button></a></p>
			</div>
			
			
		</div>
</section>
<%- include('footer') %>